{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Shopify-R</h1>
      <p>Shopify Inc. is a Canadian multinational e-commerce company headquartered in Ottawa,
           Ontario. It is also the name of its proprietary e-commerce platform for online stores and retail 
           point-of-sale systems. Shopify offers online retailers a suite of services "including payments, marketing, 
           shipping and customer engagement tools to simplify the process of running an online store for small merchants..</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Founders</h2>
        <p>Shopify was founded in 2004 by Tobias Lütke, Daniel Weinand, and Scott Lake after attempting to open Snowdevil, an online store for snowboarding equipment.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>App</h2>
        <p>Shopify launched a free mobile app on the Apple App Store. The app lets Shopify store owners view and manage their stores from iOS mobile devices</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Latest</h2>
        <p>Shopify announced the acquisition of 6 River Systems, a Massachusetts-based fulfillment solutions company. The acquisition was finalized in October resulting in a cash-and-share deal worth US$450 million.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
